.shopping-cart {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
    outline: .5rem solid transparent;
    
    text-align:center;
    line-height: 4rem;
  
    cursor: pointer;
    box-shadow: 0 .2rem .6rem #0006;
    transition: .5s ease-in-out;
  }
  
  .shopping-cart.active {
    width: 8rem;
    border-radius: .8rem;
  }
  
  .shopping-cart.active > span{
    margin-left: -4rem;
  }
  
  .arrow:hover, .shopping-cart:hover {
    outline: .5rem solid #fff5;
  }
  
  .shopping-cart::before {
    position: absolute;
    content: attr(data-product-count);
  
    top: -.5rem;
    right: -.5rem;
  
    width: 2rem;
    height: 2rem;
  
    
    
    border-radius: 50%;
    
    text-align:center;
    line-height: 2rem;
  }
  
  .cart-icon {
    font-size: 4rem;
    transition: .5s ease-in-out;
  }