.Information{
    margin-bottom: 100px;
    padding-left: 100px;
    padding-top: 50px;
    
}
.Information .home1{
    height: 300px;
    width: 500px;
    border-radius: 10%;
    box-shadow: 0 5px 30px rgb(0 22 84 / 30%) ;
}
.Information h2{
    padding-top: 20px;
    padding-left: 30px;
}
.Information .photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-left: 600px;
    position: absolute;
    top: 120px; 
    right: 50px; 
    padding: 10px;
}
.Information .home2{
    width: 250px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 0 5px 30px rgb(0 22 84 / 30%) ;
}
.Information .AddCart{
    margin-top: 10px;
}
.Information .Buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
    right: 130px;
    position: absolute;
}
.Information .text{
    width: 500px;
}
.Information .price{
    color: green;
    padding-left: 90px;
}
.Information .AddCart{
    border-radius: 5px;

}